/* CSS declarations go here */
body {
  font-family: europa;
}

.top {
  background-image: url("/images/4f037e5d14f0927c2b000daf-1325629022.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.jumbotron-clear {
  color: white;
  height: 300px;
  background-color: transparent;
  text-align: center;
}

.restaurants {
  background-image: url("/images/44366141-restaurant-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

}

.end {
  background-image: url("/images/penumbra-tables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}